lightning_logs/*
eval/__pycache__/*
wandb/*
save_near_index/*
Loss/__pycache__/*
dataloader/__pycache__/*
aug/__pycache__/*
autotrain/v1/__pycache__/*
baseline/Concrete_Autoencoders/experiments/__pycache__/*
baseline/Concrete_Autoencoders/experiments/scikit-feature-1.0.0/*
baseline/FAE/log/*
baseline/__pycache__/*
__pycache__/*
baseline/FAE/FAE.ipynb
baseline/Concrete_Autoencoders/experiments/Concrete_Variable_Autoencoder_approach.ipynb
baseline/FAE/__pycache__/*
baseline/FAE/Defined/__pycache__/*
Embedding/*
save_html/*
save_checkpoint/*
save_checkpoint_use/*
tensorflow/*
main_easy/*
images/*
wandb/*
wandb_log/*
PatEmb/*
test/*
0/*
ovanet*
paper*
baseline_img/*
checkpoints/*
manifolds/__pycache__/*
see_aug_data.ipynb
